{% extends "./base01.html" %}
{% block body %}
{% load static %}

<div class="container small-top-margin">
  <div class="main-content">
    <div class="form-login form-register">

      <h1>Lost password? Don't worry.</h1>
      <p>We'll help you reset your password via email.</p>
      <form method="post" novalidate="">
        {% csrf_token %}
        <input type="email" id="id_email" name="email" data-name="Email Address" placeholder="Email Address" maxlength="256" required="" class="text-field">
        <br>
        <br>
        <input type="submit" value="Reset Password" data-wait="Please wait..." class="toe-button-rounded blue-button toe-margin-top--medium">
      </form>
    </div>
  </div>
</div>

{% endblock %}
