{% extends "./base01.html" %}
{% block body %}
{% load static %}
<div class="container small-top-margin">
  <div class="main-content" >
    <div class="form-login form-register">
      <h1>Almost there!</h1>
      <p>We've emailed you instructions for setting your password.</p>
      <p class="center-sm">If you don't receive an email, please make sure you've entered the address you registered with and check your spam folder.</p>
      <p>Still having trouble? <a href="/contctus">Drop us a note</a>.</p>
    </div>
  </div>
</div>


{% endblock %}
