{% extends "./base01.html" %}
{% block body %}
{% load static %}
<div class="container small-top-margin">
  <div class="main-content">
    <div class="form-login form-register">
      <h4>Reset Your Password</h4>
      <h1>Please enter a new password:</h1>
      <form method="post" novalidate="">
        {% csrf_token %}
        <input type="password" id="id_new_password1" name="new_password1" data-name="Password 1" placeholder="New Password" maxlength="256" required="" class="text-field">
        <input type="password" id="id_new_password2" name="new_password2" data-name="Password 2" placeholder="Confirm Password" maxlength="256" required="" class="text-field">
        <div class="error-message-text">{{form.new_password1.errors}}</div>
        <div class="error-message-text">{{form.new_password2.errors}}</div>
        <small class="toe-textAlignLeft">
          <ul>
            <li>Your password can't be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can't be a commonly used password.</li>
            <li>Your password can't be entirely numeric.</li>
          </ul>
        </small>
        <input type="submit" value="Change Password" data-wait="Please wait..." class="toe-button-rounded blue-button toe-margin-top--medium">
      </form>
    </div>
  </div>
</div>

{% endblock %}
